card-component{
    display: flex;
/* width: 18rem; */
padding: 1.5rem;
flex-direction: column;
align-items: flex-start;
gap: 1.5rem;
/* flex-shrink: 0; */
border-radius: 0.25rem;
border: 1px solid var(--border-clr-b1, #EBEBE5);
background: var(--container-bg-clr);
max-width: 40%;
min-width: 296px;
}

.crd-head{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 1rem;
align-self: stretch;
}

.crd-title-wrp{
    display: flex;
justify-content: center;
align-items: center;
gap: 0.625rem;
}

.crd-ttl{
    color: var(--txt-primary, #000);
font-family: "Spline Sans";
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: 1.875rem; /* 150% */
}

.crd-des{
    color: var(--txt-secondary, #4C4C4C);
font-family: "Spline Sans";
font-size: 1.125rem;
font-style: normal;
font-weight: 300;
line-height: 1.6875rem; /* 150% */
align-self: stretch;
}

.material-symbols-outlined{
    color: var(--brand-primary-clr);
}