@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Spline+Sans:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Spline Sans", sans-serif;
  }

h1{
    font-family: "Spline Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
h2{
    font-family: "Spline Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

a{
    text-decoration: none;
}
p{
    font-family: "Spline Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body{
color: black;
background-color: #FCFCF8;
padding: 2rem;
}