@import "navbar.css";
@import "form.css";
@import "card.css";
@import "project-template.css";
@import "cookie.css";
@import "footer.css";
@import "grid.css";
@import "minor-features.css"; 
@import "playground.css";

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Spline+Sans:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Spline+Sans:wght@300..700&display=swap");


/* gsap */
#smooth-wrapper {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#smooth-content {
  overflow: visible;
  width: 100%;
  /* Set min-height if needed */
  min-height: 100vh;
}

.stagger-text {
  opacity: 1; /* Ensure the main text is visible */
  transform: translateY(0); /* Reset translation */
}

.stagger-text .char {
  display: inline-block; /* Ensure each character is treated as a block for animation */
  opacity: 0; /* Start hidden for animation */
  transform: translateY(20px); /* Move down slightly for animation */
}

html {
  display: grid;
  align-items: center;
  align-self: stretch;
  scrollbar-color: var(--main-bg-clr) var(--main-bg-clr);
  scroll-behavior: smooth !important;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.max-width {
  max-width: 75rem;
  margin: 0px auto;
  align-self: stretch;
}

.max-width-content {
  max-width: 52rem;
  margin: 0px auto;
  align-self: stretch;
  width: 100%;
}

:root {
  --brand-primary-clr: #4b9e0e;
  --brand-secondary-clr: #640ad6;
  --txt-primary: #000000;
  --txt-secondary: #222222;
  --txt-tertiary: #545454;
  --main-bg-clr: #ffffff;
  --border-clr-b1: #ebebe5;
  --container-bg-clr: #fafafa;
  --img-bg-clr: #e3edd8;

  /* font style */
  /* body font styles */
  --b1-font: "Roboto Flex", sans-serif;
  --b1-bold: 600;
  --b1-medium: 500;
  --b1-regular: 350;
  --b1: 2; /* Base font size */
  --b1-line-height: 1.5rem;
  --b1-letter-spacing: 0.02rem;
}

* {
  padding: 0;
  margin: 0;
}

/* hero video */
.video-container {
  position: relative;
  width: 100%; /* Full width */
  /* aspect-ratio: 16 / 9; Aspect ratio for the video */
  overflow: hidden; /* Hide overflow */
}
video {
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
  object-fit: cover; /* Cover the container without distortion */
}

/* what we do css */
.clickable-div {
  position: relative;
  width: 100%; /* Set width */
  height: 320px; /* Set height */
  border-radius: 0.5rem;
  background-color: #ccc; /* Default background color */
  overflow: hidden; /* Hide overflow */
  cursor: pointer; /* Change cursor to pointer */
}

.clickable-div:hover .background-gif {
  display: block; /* Show GIF on hover */
}

.background-gif {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire div */
  display: block; /* Hide by default */
  margin: 0px;
}

.background-image {
  background-image: url("assets/image/placeholder/ph1.png"); /* Set your background image */
  background-size: cover; /* Cover the entire div */
  background-position: center; /* Center the background image */
  width: 100%;
  height: 100%;
}

/* default styles */

h1 {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-size: 2em;
  color: var(--txt-primary, #000);
  margin-bottom: 10px;
  margin-top: 2rem;
  font-weight: 500;
}

h2 {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.75em;
  font-weight: 500;
  color: var(--txt-primary, #000);
  margin-bottom: 8px;
  margin-top: 2rem;
}

h4 {
  font-family: "Spline Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  margin-top: 0.2rem;
  margin-bottom: 0.3rem;
}

a {
  text-decoration: none;
  color: black; /* Set the same color as the default for visited links */
  font-family: "Roboto Flex", sans-serif;
  font-size: 1rem;
  font-optical-sizing: auto;
  font-weight: 500;
  line-height: 1.5rem;
}

a:visited {
  color: black; /* Set the same color as the default for visited links */
}

p {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.95rem;
  font-weight: var(--b1-regular, 400);
  color: var(--txt-primary);
  letter-spacing: var(--b1-letter-spacing, 0.02rem);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

/* Preloader CSS */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff; /* Background color */
  z-index: 9999; /* Ensure it's on top */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hro-txt {
  font-size: 32px;
  line-height: 42px;
  font-weight: 350;
  font-family: "Spline Sans", serif;
  margin-top: 9rem;
  margin-bottom: 9rem;
}

.hro-txt .char {
  display: inline-block; /* Ensure each character is treated as a block for animation */
  opacity: 0; /* Start hidden */
  transform: translateY(20px); /* Start slightly below */
}


.lottie-animation {
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
}

section {
  padding: 1rem;
  flex-direction: row;
  gap: 1rem;
  border-radius: 10px;
}

.client-crd {
  width: 100%;
}

.g-bg {
  background: linear-gradient(180deg, #eef2f8 0%, #e6edf9 100%);
}

.hero-sec {
  display: flex;
  max-width: 75rem;
  padding: 7.5rem 2.5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
  color: var(--txt-primary, #000);
  font-family: "Spline Sans";
  font-size: 2.75rem;
  font-style: normal;
  font-weight: normal;
  line-height: 4.125rem; /* 150% */
}

.section {
  display: flex;
  max-width: 75rem;
  padding: 2.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}

.container {
  display: flex;
  padding: 2.5rem;

  /* justify-content: center;
align-items: center; */
  gap: 2.5rem;
  flex: 1 0 0;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  border: 1px solid var(--border-clr-b1, #ebebe5);
  background: var(--container-bg-clr, #f8f8f4);
}

.about-img {
  background-image: url("../Assets/Image/boy\ in\ vr.jpeg");
  background-size: cover;
  background-position: center;
  /* flex: 1 0 0; */
  align-self: stretch;
  border-radius: 0.25rem;
  width: 100%;
  min-width: 296px;
  max-width: 500px;
  height: 100%;
  min-height: 296px;
  /* background: var(--img-bg-clr, #E3EDD8); */
}

.txt-style-2 {
  color: var(--txt-primary, #000);
  font-family: "Spline Sans";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.6875rem; /* 150% */
  width: 100%;
  max-width: 50%;
}

/* Our service */

.ourService {
  display: flex;
  max-width: 75rem;
  padding: 0rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.service-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates 2 columns */
  grid-template-rows: repeat(2, 1fr); /* Creates 2 rows */
  gap: 1.5rem; /* Space between grid items */
  width: 100%; /* Full width of the container */
  height: 100vh; /* Full height of the viewport */
}

.oslcol1 {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.btn-cta {
  font-family: "Roboto Flex", sans-serif;
  font-size: 1rem;
  font-optical-sizing: auto;
  font-weight: 500;
  line-height: 1.5rem;
  display: inline-flex;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.25rem;
  background: var(--brand-primary-clr);
  color: var(--main-bg-clr);
  border: 0px;
}

.btn-cta:hover {
  background: #0e0e0e;
  cursor: pointer;
}

.secondary-btn {
  display: inline-flex;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.25rem;
  background: var(--brand-primary, #ededec);
  color: var(--txt-primary);
  border: 0px;
}
.secondary-btn:hover {
  background: #dadada;
  cursor: pointer;
}

.tbm-1 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates 2 columns */
  grid-template-rows: repeat(1, 1fr); /* Creates 2 rows */
  gap: 1rem; /* Space between grid items */
  width: 100%; /* Full width of the container */
  height: auto; /* Full height of the viewport */
}

/* Media Query for Mobile Breakpoint */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Change to single column on mobile */
    grid-template-rows: auto; /* Adjust rows to auto height */
  }
  .hero-sec {
    display: flex;
    max-width: 75rem;
    padding: 5rem 2.5rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
    color: var(--txt-primary, #000);
    font-family: "Spline Sans";
    font-size: 2rem;
    font-style: normal;
    font-weight: normal;
    line-height: 3rem; /* 150% */
  }
}
