.ptttl{
    width: 100%;
    text-align: left;
    padding-top: 2rem;
}

.ptimg{
    width: 100%;
    margin: 2rem 0px;
    height: 520px;
    object-fit: cover;
    border-radius: .5rem;
}

.ptdes{
    margin-top: 1rem;
}

/* main.css */

/* General styles for the project content */
#project-content {
    margin: 20px 0;
}

/* Heading styles */
h1 {
    font-size: 2em;
    color: var(--txt-primary, #000);
    margin-bottom: 10px;
}

h2 {
    font-size: 1.75em;
    color: var(--txt-primary, #000);
    margin-bottom: 8px;
}

h3 {
    font-size: 1.5em;
    color: var(--txt-primary, #000);
    margin-bottom: 6px;
}

/* Paragraph styles */
p {
    font-size: var(--b1, 1.125rem);
    line-height: 1.5;
    color: var(--txt-primary, #000);
    margin-bottom: 10px;
}

/* Image styles */
img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

/* Video styles */
video {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

/* Tag styles */
.tag {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.tag:hover {
    background-color: #0056b3;
}
